@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
    margin: 0;
    padding: 0;
    display: flex;
    .panelCon {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 50%;
        height: min-content;
    }
    .panelConn {
        position: inherit;
        width: 50%;
        margin-left: 50%;
        top: 0;
        overflow: auto;
        height: min-content;
    }
    .panel {
        width: 100%;
        background-color: #222222;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        border: 1px solid #fff;
        h1 {
            width: 100px;
            position: relative;
            display: block;
            margin: 0 auto;
            text-align: center;
            top: 50%;
        }
    }
}









