@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");
html {
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  background-color: #0e0e0e;
  width: 0.25em;
  margin: 1em;
}

html ::-webkit-scrollbar-track {
  background: transparent;
}

html ::-webkit-scrollbar-thumb {
  background: #efefef;
  border-radius: 0.25em;
}

html ::-webkit-scrollbar-thumb:hover {
  background: #8b8b8b;
}

body {
  margin: 0;
  padding: 0;
  background: url(../static/Backgrounds/PC.webp) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

body ::-moz-selection {
  background-color: #6e6e6e;
}

body ::selection {
  background-color: #6e6e6e;
}

.Ecaps {
  position: inherit;
  width: 50%;
  left: 0;
  top: 0;
}

.Ecaps .Social {
  position: absolute;
  width: 50%;
  -webkit-transform: translateY(-2.1vh);
          transform: translateY(-2.1vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Ecaps .Social .arrange {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Ecaps .Social .arrange .bi {
  color: #efefef;
  opacity: 70%;
}

.Ecaps .Copy_right {
  width: 100%;
  border: 1px solid transparent;
  font-family: "Libre Barcode 128 Text", cursive;
  opacity: 65%;
  text-align: center;
  color: #efefef;
  letter-spacing: 0.15em;
  line-height: 125%;
}

.Ecaps .Grouping_Ecaps {
  background: url(../static/Backgrounds/Space.webp) no-repeat center center fixed;
  background-size: cover;
  color: #efefef;
  font-size: calc(0.85vh + 0.85vw);
}

.Ecaps .Grouping_Ecaps .Basic_setup {
  width: 100%;
  background-color: transparent;
  font-family: "Libre Barcode 128 Text", cursive;
  opacity: 65%;
}

.Ecaps .Grouping_Ecaps .Basic_setup h1 {
  width: 100px;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  top: 50%;
}

.Ecaps .Grouping_Ecaps .Basic_setup .Ecaps_text {
  width: 75%;
  padding-left: 5%;
  padding-right: 5%;
}

.Ecaps .Grouping_Ecaps .Basic_setup .Ecaps_context {
  opacity: 1;
  width: 75%;
  padding-left: 5%;
  padding-right: 5%;
}

.Ecaps .Grouping_Ecaps .Basic_setup .letter_spacing {
  letter-spacing: 0.15em;
  line-height: 125%;
}

.Ecaps .Grouping_Ecaps .Basic_setup .Ecaps_moon {
  height: 100vh;
  width: 99.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Ecaps .Grouping_Ecaps .Basic_setup .Ecaps_moon .Ecaps_Astronaut {
  width: 25vw;
  vertical-align: middle;
}

.Space {
  position: fixed;
  bottom: 0;
  margin-left: 50%;
  width: 50%;
}

.Space .Copy_right {
  width: 100%;
  border: 1px solid transparent;
  font-family: "Libre Barcode 128 Text", cursive;
  opacity: 65%;
  text-align: center;
  color: #0e0e0e;
  letter-spacing: 0.15em;
  line-height: 125%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  margin-bottom: -1vh;
}

.Space .Social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Space .Social .arrange {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Space .Social .arrange .bi {
  color: #0e0e0e;
  opacity: 70%;
}

.Space .Grouping_Space {
  background: url(../static/Backgrounds/Ecaps.webp) no-repeat center center fixed;
  background-size: cover;
  color: #222222;
}

.Space .Grouping_Space .Basic_setup {
  width: 100%;
  background-color: transparent;
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: calc(0.85vh + 0.85vw);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 70%;
}

.Space .Grouping_Space .Basic_setup h1 {
  width: 100px;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  top: 50%;
}

.Space .Grouping_Space .Basic_setup .Space_text {
  width: 75%;
  padding-left: 5%;
  padding-right: 5%;
}

.Space .Grouping_Space .Basic_setup .Space_context {
  width: 75%;
  padding-left: 5%;
  padding-right: 5%;
}

.Space .Grouping_Space .Basic_setup .letter_spacing {
  letter-spacing: 0.15em;
  line-height: 125%;
}

.Space .Grouping_Space .Basic_setup .Space_moon {
  height: 100vh;
  width: 99.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Space .Grouping_Space .Basic_setup .Space_moon .Space_Astronaut {
  width: 25vw;
  vertical-align: middle;
}

.mobile {
  display: none;
}

.mobile .letter_spacing {
  display: none;
}

.mobile .Ecaps_Astronaut {
  display: none;
}

.Empty_Space {
  background: transparent;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1000px) {
  body {
    background: url(../static/Backgrounds/mobile-bg.webp) no-repeat center center fixed;
    background-size: cover;
    font-family: "Libre Barcode 128 Text", cursive;
    color: white;
    margin: 0;
    padding: 0;
  }
  body .Space {
    display: none;
    bottom: 0px;
    width: 0%;
    height: 0%;
  }
  body .Ecaps {
    display: none;
    width: 0%;
    height: 0%;
  }
  body .Empty_Space {
    display: none;
    width: 0%;
    height: 0%;
  }
  body .mobile {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
  }
  body .mobile * {
    opacity: 1;
  }
  body .mobile .letter_spacing {
    letter-spacing: 0.15em;
    line-height: 125%;
    display: block;
  }
  body .mobile .page_1 {
    padding: 35% 0%;
  }
  body .mobile .page_1 .m_title {
    font-size: calc(2.5vh + 2.5vw);
    text-align: center;
    width: 95%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 25% auto;
    opacity: 70%;
  }
  body .mobile .page_1 .m_heading {
    font-size: calc(6vh + 6vw);
  }
  body .mobile .moon {
    padding: 35% auto;
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .mobile .moon .Ecaps_Astronaut {
    display: block;
    width: 75vw;
    opacity: 75%;
  }
  body .mobile .page_2 {
    padding: 35% auto;
    height: 70vh;
  }
  body .mobile .page_2 .m_intro {
    font-size: calc(2.5vh + 2.5vw);
    text-align: center;
    width: 95%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 70% auto;
    opacity: 70%;
  }
  body .mobile .page_3 {
    padding: 35% auto;
    height: 70vh;
  }
  body .mobile .page_3 .m_intro {
    font-size: calc(2.5vh + 2.5vw);
    text-align: center;
    width: 95%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 70% auto;
    opacity: 70%;
  }
  body .mobile .page_4 {
    padding: 70% auto;
    height: 70vh;
  }
  body .mobile .page_4 .m_intro {
    font-size: calc(2.5vh + 2.5vw);
    text-align: center;
    width: 95%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 70% auto;
    opacity: 70%;
  }
  body .mobile .page_5 {
    padding: 35% auto;
    height: 70vh;
  }
  body .mobile .page_5 .m_intro {
    font-size: calc(2.5vh + 2.5vw);
    text-align: center;
    width: 95%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 70% auto;
    opacity: 70%;
  }
  body .mobile .page_6 {
    padding: 35% auto;
    height: 70vh;
  }
  body .mobile .page_6 .m_intro {
    font-size: calc(2.5vh + 2.5vw);
    text-align: center;
    width: 95%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 70% auto;
    opacity: 70%;
  }
  body .mobile .page_7 {
    padding: 35% auto;
    height: 70vh;
  }
  body .mobile .page_7 .m_intro {
    font-size: calc(2.5vh + 2.5vw);
    text-align: center;
    width: 95%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 70% auto;
    opacity: 70%;
  }
  body .mobile .page_last {
    height: 100vh;
  }
  body .mobile .page_last .error {
    font-size: calc(6vh + 6vw);
    text-align: center;
    width: 100%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    color: #ffafaf;
    margin-top: 65%;
    opacity: 70%;
  }
  body .mobile .page_last .enter_p {
    font-size: calc(2.75vh + 2.75vw);
    text-align: center;
    width: 95%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 20% auto;
    opacity: 70%;
  }
}
/*# sourceMappingURL=style.css.map */